---
- name: Install the required  packages in Redhat derivatives
  yum: name={{ item }} state=installed
  with_items: '{{ ntp_pkgs }}'
  when: ansible_os_family == 'RedHat'

- name: Install the required packages in Debian derivatives
  apt: name={{ item }} state=installed update_cache=yes
  with_items: '{{ ntp_pkgs }}'
  environment: env
  when: ansible_os_family == 'Debian'
